@charset "utf-8";
/* CSS Document */

/*全局*/
html {overflow:-moz-scrollbars-vertical;}
body {
    font-family:"微软雅黑", "宋体", arial;
    margin:0;
    padding:0;
    font-size:14px;
    color:#d2d2d2;
    width:100%;
    background-image:url("../images/f_bg.gif")/*tpa=http://static.mingchao.com/official/images/f_bg.gif*/;
    background-repeat:repeat-x;
}
div,form,img,ul,ol,li,dl,dt,dd,em,p{margin: 0; padding: 0; border: 0;font-style:normal;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}
table,td,tr,th{font-size:12px;}
input{}
.clear{clear:both;}

ul,li{
    margin:0;
    padding:0;
    list-style:none;
}


#campuskv {
    text-align: center;
    width: 100%;
    height: 437px;
    background-position: center 0;
    background-color: #fff;
}
.side-menu{
    width:200px;
    float: left;
}
.side-content{
    width:780px;
    float: left;
}
.nav{
    line-height: 1.5em;
    border-bottom: 1px solid #CCC;
    margin-bottom: 50px;
}
.side-btn{
    width:70px;
    height:30px;
    display: block;
    color: #fff !important;
    padding: 10px 40px;
    font-size: 13pt;
    background-image:url("../images/society/tab_1.png")/*tpa=http://static.mingchao.com/official/images/society/tab_1.png*/;
}
.side-btn:hover,.side-menu-list .on{
    text-decoration: none;
    background-image:url("../images/society/tab_2.png")/*tpa=http://static.mingchao.com/official/images/society/tab_2.png*/;
}
.wx_img{
    margin-left: 5px;
}
.wx-text{
    width: 138px;
    text-align: center;
    line-height: 20px;
    font-size: 14px; font-family: 微软雅黑;
    color:#535456;
}
.nav-job-menu{
    width: 100%;
    height: 100%;
    background-color: #4B4B4B;
    float: left;
    margin-bottom: 30px;
}
.nav-job-menu-btn{
    float: left;
    text-align: center;
    line-height: 2.5em;
    cursor: pointer;
    font-size: 16px;
    color: #FFF !important;
    padding: 0 20px;
}
.nav-job-menu-btn:hover,.nav-job-menu .on{
    text-decoration: none;
    background-color: #2B2B2B;
}
.job-side-menu{
    width:160px;
    float: left;
    margin-right:20px ;
}
.job-col{
    width:600px;
    float: left;
    color: #535456;
}
.job-col p {
    line-height: 25px;
    padding-left: 10px;
}
.job-cat{
    border: 1px solid #535456;
    border-radius: 7px;
    text-align: center;
    line-height: 2em;
    display: inline-block;
    width: 140px;
    margin: 10px 0px;
    color:#535456;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 5px;
}
.job-cat:hover,.job-side-menu .on{
    text-decoration: none;
    border: 1px solid #1483d8;
    background-color:#1483d8;
    color:#fff !important;
    cursor: pointer;
}
